<% include ./partials/header %>

<head>
    <style type="text/css">
    
            h1{
            background-color:brown;
            }
            #imagen{
                height: 500px;
                
                background-image: url(https://www.zonadocs.mx/wp-content/uploads/2019/08/dsfsdf-1280x640.jpg);
            }
    </style>
</head>

<h1>Sobre Nosotros</h1>
<h2>Somos una empresa dedicada blablablala...</h2>
<div id="imagen"></div>

<% include ./partials/footer %>