<% include ./partials/header %>

<h1>Crea tu usuario!</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Nombre">
    <input type="password" name="password" placeholder="Contraseña">
    <button>Crear</button>
</form>

<% include ./partials/footer %>